a {
    text-decoration: none;
}
.main-panel {
    background-color: whitesmoke
}
.main-panel .ag-theme-quartz-dark, .main-panel .ag-theme-quartz-dark {
    --ag-wrapper-border-radius: 18px;
}

.main-panel .ag-theme-quartz-dark .ag-root-wrapper.ag-ltr.ag-layout-normal,
.main-panel .ag-theme-quartz .ag-root-wrapper.ag-ltr.ag-layout-normal {
    box-shadow: 0px 0px 30px 12px rgb(100, 5, 90);
}

.test {
    width: 200px;
    height: 200px;
    background-color: red;
}

.skeleton {
    opacity: .6;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 90%);
    }
}